%montserrat-300{
    font-family: "Montserrat-Light",sans-serif;
    font-weight: 300;
}
%montserrat-400{
    font-family: "Montserrat-Regular",sans-serif;
    font-weight: 400;
}
%montserrat-500{
    font-family: "Montserrat-Medium",sans-serif;
    font-weight: 500;
}